.card {
    background-color: #fff;
    padding: 10%;
    color: #282828;
    font-size: 14px;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card__img-top {
    width: 288px;
    height: 182px;
    margin-bottom: 10px
}

body {
    background-color: #c4c4c4;
}
